#login-div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

#login-form {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-item {
    display: inline-block;
    margin-bottom: 30px;
    width: 300px;
}

#login-form button {
    width: 300px;
    height: 40px;
}

.input-div {
    display: flex;
    justify-content: space-between;
}

.input {
    height: 35px;
    width: 215px;
    font-size: 18px;
}

label {
    display: flex;
    align-items: center;
}